<script setup lang="ts">
import { ref } from 'vue';

const nombre = ref('Aaron');
const mensajeErrorNombre = ref('');
const apellido = ref('Cedillo');
const mensajeErrorApellido = ref('');
const edad = ref('20');
const mensajeErrorEdad = ref('');
const genero = ref('Masculino');
const mensajeErrorGenero = ref('');
const error = ref(false);

const validarNombre = () => {
  const longitudNombre = nombre.value.length;

  if (longitudNombre < 5 || longitudNombre > 18) {
    error.value = true;
    mensajeErrorNombre.value = 'El nombre debe ser de entre 5 y 18 caracteres.';
  } else {
    error.value = false;
    mensajeErrorNombre.value = '';
  }
};

const validarApellido = () => {
  if (apellido.value.toLowerCase() === nombre.value.toLowerCase()) {
    error.value = true;
    mensajeErrorApellido.value = 'El apellido no puede ser el mismo que el nombre.';
  } else {
    error.value = false;
    mensajeErrorApellido.value = '';
  }
};

const validarEdad = () => {
  const valorEdad = parseInt(edad.value, 10);

  if (isNaN(valorEdad) || valorEdad <= 0 || valorEdad >= 60) {
    error.value = true;
    mensajeErrorEdad.value = 'La edad debe ser mayor a 0 y menor a 60.';
  } else {
    error.value = false;
    mensajeErrorEdad.value = '';
  }
};

const validarGenero = () => {
    mensajeErrorGenero.value = 'El género debe ser "Masculino", "Femenino" u "Otro".';
};
</script>

<template>
  <main>
    <div class="container">
      <div class="form-wrapper">
        <form>
          <div class="field-group">
            <div class="field">
              <label for="nombre">Nombre</label>
              <input @input="validarNombre" type="text" v-model="nombre" id="nombre">
              <p class="error-message">{{ mensajeErrorNombre }}</p>
            </div>

            <div class="field">
              <label for="apellido">Apellido</label>
              <input @input="validarApellido" type="text" v-model="apellido" id="apellido">
              <p class="error-message">{{ mensajeErrorApellido }}</p>
            </div>

            <div class="field">
              <label for="edad">Edad</label>
              <input @input="validarEdad" type="number" v-model="edad" id="edad">
              <p class="error-message">{{ mensajeErrorEdad }}</p>
            </div>

            <div class="field">
              <label for="genero">Género</label>
              <select @input="validarGenero" v-model="genero" id="genero">
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="Otro">Otro</option>
              </select>
              <p class="error-message">{{ mensajeErrorGenero }}</p>
            </div>
          </div>
        </form>
      </div>

      <div class="result-container">
        <div class="info">
          <h1>Datos Personales</h1>
          <div class="result-field">
            <span>Su nombre es:</span>
            <p :class="{ 'error': error }">{{ nombre }}</p>
            <p class="error-message">{{ mensajeErrorNombre }}</p>
          </div>

          <div class="result-field">
            <span>Su apellido es:</span>
            <p :class="{ 'error': error }">{{ apellido }}</p>
            <p class="error-message">{{ mensajeErrorApellido }}</p>
          </div>

          <div class="result-field">
            <span>Usted tiene:</span>
            <p :class="{ 'error': error }">{{ edad }} años</p>
            <p class="error-message">{{ mensajeErrorEdad }}</p>
          </div>

          <div class="result-field">
            <span>Y su género es:</span>
            <p :class="{ 'error': error }">{{ genero }}</p>
            <p class="error-message">{{ mensajeErrorGenero }}</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<style>
main {
  font-family: 'Arial', sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
}

.form-wrapper {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.field-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.field {
  flex: 1;
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

input,
select {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s;
}

input:focus,
select:focus {
  outline: none;
  border-color: #6cb2eb;
}

.error-message {
  color: #e74c3c;
  margin-top: 8px;
}

.result-container {
  margin-left: 50px;
  text-align: center;
}

.info {
  margin-bottom: 30px;
}

.result-field {
  margin-bottom: 15px;
}

span {
  font-weight: bold;
}
</style>


